# Ignore folders.
.cloud
.google.token
.O365-token-cache
.storage/*
blueprints
custom_components
icloud
image
logs
node-red
pyskyqhub
ssh
themes
www

# Ignore files
.uuid
home-assistant*
update.sh
shell_scripts/.dropbox_uploader
.ip_authenticated.yaml

Reinclude files
!.storage/lovelace
!.storage/lovelace_resources

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
tyrcelyn.conf
o365_calendars_roger.yaml
